/* Stili pagina generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stili header */
body{
    padding-top: 100px;
}
.contenitore_header{
    height: 60px;
    width: 100%;
    background-color: #ff6900;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
}
a{
    text-decoration: none;
    color: white;
}
.icons_header{
    color: white;
}
.logo_bool img{
    height: 30px;
}

/* Contenitore singolo della prima card */
.row{
    padding: 0 100px;
    display: flex;
}
.col{
    width: calc((100% / 3) - 10px);
    padding: 20px;
    margin: 0 5px;
}
.img_card{
    position: relative;
}
.img_card img{
    width: 100%;
}
.label{
    position: absolute;
    bottom: 10%;
    width: 50px;
    color: white;
    text-align: center;
    background-color: #ff0000;
}
.label_text{
    position: absolute;
    bottom: 10%;
    left: 180px;
    width: 100px;
    color: white;
    background-color: #008000;
    text-align: center;
}
.img_card .fa-heart{
    position: absolute;
    right: 0;
    top: 10px;
    background-color: white;
    width: 30px;
    height: 30px;
    text-align: center;
}
.fa-heart:hover{
    color: red;
}
