/* Stili pagina generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Padding top al body per distaccare la nav messa in POSITION FIXED */
body{
    padding-top: 100px;
}

/* Stili header */
.contenitore_header{
    height: 60px;
    width: 100%;
    background-color: #ff6900;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
}
a{
    text-decoration: none;
    color: white;
}
.icons_header{
    color: white;
}
.logo_bool img{
    height: 30px;
}

/* Creazione prima row con 3 col divise ugualmente attraverso il calc */
.row{
    padding: 0 100px;
    display: flex;
}
.col{
    width: calc((100% / 3) - 10px);
    padding: 20px;
    margin: 0 5px;
    position: relative;
}

/* Valori per far "adattare" il contenuto all'interno della card */
.img_card img{
    width: 100%;
    height: auto;
    display: block;
}

/* Label rosso con lo sconto e quella verde con la sostenibilita' */
.label{
    position: absolute;
    bottom: 15%;
    width: 50px;
    color: white;
    text-align: center;
    background-color: #ff0000;
    z-index: 1;
}
.label_text{
    position: absolute;
    bottom: 15%;
    left: 13%;
    width: 100px;
    color: white;
    background-color: #008000;
    text-align: center;
    z-index: 1;
}

/* Cuoricino in alto a destra con l'hover del mouse rosso */
.img_card{
    position: relative;
}
.img_card .fa-heart{
    position: absolute;
    right: 0;
    top: 10px;
    background-color: white;
    padding:  15px;
    z-index: 2;
}
.fa-heart:hover{
    color: red;
}

/* Prezzi colorati di rosso con il resto del testo sotto modificato */
.prices{
    color: #ff0d3b;
    font-weight: bold;
    display: inline-block;
}
.brand{
    font-size: 14px;
}

/* Overlay 2nd img */
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}
.img_card:hover .overlay{
    opacity: 1;
}

/* Footer di pagina con la scritta aziendale con le rispettive informazioni legali/privacy ed i social */
.contenitore_footer{
    height: 100px;
    width: 100%;
    background-color: #1a1a1a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
i{
    padding: 3px;
    padding-top: 5px;
}
h3{
    padding-bottom: 5px;
}